body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg{
     display: block;
     background-image: url('DJI_0164.jpg');
     background-position: center;
     background-size: cover;
     min-height: 100%;
     }
.logoimg{
     background-image: url('Logoist.png');
     min-height: 100%;
     }
.container{
     position: relative;
     }
.animate-opacity{
     animation:opac 3s
     }
     @keyframes opac{from{opacity: 0} to {opacity: 1}
     }
.text-white{
     color: white
     }
.topleft{
     position: absolute;
     top: -55px;
     left: -125px;
     width: 40%;
     color: white;
     opacity: 2;
     }
.display-middle{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%)
     }
.text-coming{
     font-size: 64px;
     position: relative;
     animation: animatetop 1.5s
     }
     @keyframes animatetop{from{top: -300px; opacity: 0} to {top: 0; opacity: 1}
     }
.border-hr{
     border: double white;
     margin: auto;
     width: 75%;
     }
.text-pvg{
     color: white;
     text-align: center;
     font-weight: bold;
     font-size: 18px;
     position: relative;
     animation: animatebottom 1.5s
     }
     @keyframes animatebottom{from{bottom: -300px; opacity: 0} to {bottom: 0; opacity: 1}
     }
.powered{
     position: absolute;
     right: 0;
     bottom: 0;
     padding: 12px 24px;
     }
