body,h1 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%
}
.bgimg {
    background-image: url('DJI_0164.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.logoimg{
    background-image: url('Logoist.png');
    min-height: 100%;
}
    
.container {
    position: relative;
}
.topleft {    
    position: absolute;
    top: -55px;
    left: -125px;
    width: 40%;
    color: white;
    opacity: 2;
}
.border-hr {
    color: grey;
    margin: auto;
    width: 75%;
}
.text-pvg {
    color: white;
    text-align: center;
    font-weight: bold;
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
